In [ ]:
import pandas as pd

In [80]:
#complete other teams
arsenal_matches = pd.read_csv('./datas/Arsenal_AllSeason.csv')   
chelsea_matches = pd.read_csv('./datas/Chelsea_AllSeason.csv') 
liverpool_matches = pd.read_csv('./datas/Liverpool_AllSeason.csv')
leicester_matches = pd.read_csv('./datas/Leicester_AllSeason.csv')
tottenham_matches = pd.read_csv('./datas/Tottenham_AllSeason.csv')
man_city_matches = pd.read_csv('./datas/Man_City_AllSeason.csv')
man_united_matches = pd.read_csv('./datas/Man_United_AllSeason.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 3002 entries, 0 to 455
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       3002 non-null   object
 1   Date      3002 non-null   object
 2   HomeTeam  3002 non-null   object
 3   AwayTeam  3002 non-null   object
 4   FTHG      3002 non-null   float64
 5   FTAG      3002 non-null   float64
 6   FTR       3002 non-null   object
 7   HTHG      3002 non-null   float64
 8   HTAG      3002 non-null   float64
 9   HTR       3002 non-null   object
 10  Referee   3002 non-null   object
 11  HS        3002 non-null   float64
 12  AS        3002 non-null   float64
 13  HST       3002 non-null   float64
 14  AST       3002 non-null   float64
 15  HF        3002 non-null   float64
 16  AF        3002 non-null   float64
 17  HC        3002 non-null   float64
 18  AC        3002 non-null   float64
 19  HY        3002 non-null   float64
 20  AY        3002 non-null   float64
 21  HR        3002 non-null   float64
 22  AR        3002 non-null   float64
dtypes: float64(16), object(7)
memory usage: 562.9+ KB

In [45]:
#replace the coloumn name HomeTeam with Team and AwayTeam with Opponent
arsenal_matches = arsenal_matches.rename(columns={'team':'Team','AwayTeam':'Opponent'})
chelsea_matches = chelsea_matches.rename(columns={'team':'Team','AwayTeam':'Opponent'})
liverpool_matches = liverpool_matches.rename(columns={'team':'Team','AwayTeam':'Opponent'})
leicester_matches = leicester_matches.rename(columns={'team':'Team','AwayTeam':'Opponent'})
man_city_matches = man_city_matches.rename(columns={'team':'Team','AwayTeam':'Opponent'})
man_united_matches = man_united_matches.rename(columns={'team':'Team','AwayTeam':'Opponent'})
tottenham_matches = tottenham_matches.rename(columns={'team':'Team','AwayTeam':'Opponent'})

In [53]:
#replace the coloumn name FTHG with FT_goals_for and FTAG with FT_goals_against
arsenal_matches = arsenal_matches.rename(columns={'FTHG':'FTGF','FTAG':'FTGA'})
chelsea_matches = chelsea_matches.rename(columns={'FTHG':'FTGF','FTAG':'FTGA'})
liverpool_matches = liverpool_matches.rename(columns={'FTHG':'FTGF','FTAG':'FTGA'})
leicester_matches = leicester_matches.rename(columns={'FTHG':'FTGF','FTAG':'FTGA'})
man_city_matches = man_city_matches.rename(columns={'FTHG':'FTGF','FTAG':'FTGA'})
man_united_matches = man_united_matches.rename(columns={'FTHG':'FTGF','FTAG':'FTGA'})

In [55]:
#replace the coloumn name HTAG with HTGA and HTHG with HTGF
arsenal_matches = arsenal_matches.rename(columns={'HTHG':'HTGF','HTAG':'HTGA'})
chelsea_matches = chelsea_matches.rename(columns={'HTHG':'HTGF','HTAG':'HTGA'})
liverpool_matches = liverpool_matches.rename(columns={'HTHG':'HTGF','HTAG':'HTGA'})
leicester_matches = leicester_matches.rename(columns={'HTHG':'HTGF','HTAG':'HTGA'})
man_united_matches = man_united_matches.rename(columns={'HTHG':'HTGF','HTAG':'HTGA'})
man_city_matches = man_city_matches.rename(columns={'HTHG':'HTGF','HTAG':'HTGA'})

In [57]:
#replace the coloumn name HS with Shots,AS with Opponent_shots, HST with SOT and AST with OSOT, HC with Corners, AC with Opponent_corners, HF with Fouls, AF with Opponent_fouls, HY with Yellow_cards, AY with Opponent_yellow_cards, HR with Red_cards, AR with Opponent_red_cards,HFKC with Free_kicks, AFKC with Opponent_free_kicks, HO with Offsides, AO with Opponent_offsides, HYC with Yellow_cards, AYC with Opponent_yellow_cards, HR with Red_cards, AR with Opponent_red_cards
arsenal_matches = arsenal_matches.rename(columns={'HS':'Shots','AS':'Opponent_shots','HST':'SOT','AST':'OSOT','HC':'Corners','AC':'Opponent_corners','HF':'Fouls','AF':'Opponent_fouls','HY':'Yellow_cards','AY':'Opponent_yellow_cards','HR':'Red_cards','AR':'Opponent_red_cards','HFKC':'Free_kicks','AFKC':'Opponent_free_kicks','HO':'Offsides','AO':'Opponent_offsides'})
chelsea_matches = chelsea_matches.rename(columns={'HS':'Shots','AS':'Opponent_shots','HST':'SOT','AST':'OSOT','HC':'Corners','AC':'Opponent_corners','HF':'Fouls','AF':'Opponent_fouls','HY':'Yellow_cards','AY':'Opponent_yellow_cards','HR':'Red_cards','AR':'Opponent_red_cards','HFKC':'Free_kicks','AFKC':'Opponent_free_kicks','HO':'Offsides','AO':'Opponent_offsides'})
liverpool_matches = liverpool_matches.rename(columns={'HS':'Shots','AS':'Opponent_shots','HST':'SOT','AST':'OSOT','HC':'Corners','AC':'Opponent_corners','HF':'Fouls','AF':'Opponent_fouls','HY':'Yellow_cards','AY':'Opponent_yellow_cards','HR':'Red_cards','AR':'Opponent_red_cards','HFKC':'Free_kicks','AFKC':'Opponent_free_kicks','HO':'Offsides','AO':'Opponent_offsides'})
leicester_matches = leicester_matches.rename(columns={'HS':'Shots','AS':'Opponent_shots','HST':'SOT','AST':'OSOT','HC':'Corners','AC':'Opponent_corners','HF':'Fouls','AF':'Opponent_fouls','HY':'Yellow_cards','AY':'Opponent_yellow_cards','HR':'Red_cards','AR':'Opponent_red_cards','HFKC':'Free_kicks','AFKC':'Opponent_free_kicks','HO':'Offsides','AO':'Opponent_offsides'})
tottenham_matches = tottenham_matches.rename(columns={'HS':'Shots','AS':'Opponent_shots','HST':'SOT','AST':'OSOT','HC':'Corners','AC':'Opponent_corners','HF':'Fouls','AF':'Opponent_fouls','HY':'Yellow_cards','AY':'Opponent_yellow_cards','HR':'Red_cards','AR':'Opponent_red_cards','HFKC':'Free_kicks','AFKC':'Opponent_free_kicks','HO':'Offsides','AO':'Opponent_offsides'})
man_city_matches = man_city_matches.rename(columns={'HS':'Shots','AS':'Opponent_shots','HST':'SOT','AST':'OSOT','HC':'Corners','AC':'Opponent_corners','HF':'Fouls','AF':'Opponent_fouls','HY':'Yellow_cards','AY':'Opponent_yellow_cards','HR':'Red_cards','AR':'Opponent_red_cards','HFKC':'Free_kicks','AFKC':'Opponent_free_kicks','HO':'Offsides','AO':'Opponent_offsides'})
man_united_matches = man_united_matches.rename(columns={'HS':'Shots','AS':'Opponent_shots','HST':'SOT','AST':'OSOT','HC':'Corners','AC':'Opponent_corners','HF':'Fouls','AF':'Opponent_fouls','HY':'Yellow_cards','AY':'Opponent_yellow_cards','HR':'Red_cards','AR':'Opponent_red_cards','HFKC':'Free_kicks','AFKC':'Opponent_free_kicks','HO':'Offsides','AO':'Opponent_offsides'})

In [58]:
arsenal_matches.head()

,Div,Date,Team,Opponent,FTGF,FTGA,FTR,HTGF,HTGA,HTR,...,SOT,OSOT,Fouls,Opponent_fouls,Corners,Opponent_corners,Yellow_cards,Opponent_yellow_cards,Red_cards,Opponent_red_cards
0,E0,2009-08-22,Arsenal,Portsmouth,4.0,1.0,H,2.0,1.0,H,...,16.0,4.0,9.0,10.0,8.0,4.0,1.0,0.0,0.0,0.0
1,E0,2009-09-19,Arsenal,Wigan,4.0,0.0,H,1.0,0.0,H,...,11.0,5.0,6.0,18.0,6.0,4.0,2.0,2.0,0.0,0.0
2,E0,2009-10-04,Arsenal,Blackburn,6.0,2.0,H,3.0,2.0,H,...,18.0,7.0,9.0,10.0,8.0,1.0,1.0,1.0,0.0,0.0
3,E0,2009-10-17,Arsenal,Birmingham,3.0,1.0,H,2.0,1.0,H,...,12.0,2.0,8.0,16.0,7.0,3.0,1.0,2.0,0.0,0.0
4,E0,2009-10-31,Arsenal,Tottenham,3.0,0.0,H,2.0,0.0,H,...,12.0,5.0,10.0,10.0,6.0,2.0,1.0,1.0,0.0,0.0

In [47]:
chelsea_matches.head()

,Div,Date,Team,Opponent,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,2009-08-15,Chelsea,Hull,2.0,1.0,H,1.0,1.0,D,...,12.0,3.0,13.0,15.0,12.0,4.0,1.0,2.0,0.0,0.0
1,E0,2009-08-29,Chelsea,Burnley,3.0,0.0,H,1.0,0.0,H,...,17.0,0.0,7.0,5.0,10.0,1.0,0.0,1.0,0.0,0.0
2,E0,2009-09-20,Chelsea,Tottenham,3.0,0.0,H,1.0,0.0,H,...,15.0,4.0,7.0,9.0,11.0,3.0,0.0,2.0,0.0,0.0
3,E0,2009-10-04,Chelsea,Liverpool,2.0,0.0,H,0.0,0.0,D,...,8.0,3.0,14.0,17.0,5.0,8.0,1.0,1.0,0.0,0.0
4,E0,2009-10-24,Chelsea,Blackburn,5.0,0.0,H,1.0,0.0,H,...,15.0,2.0,8.0,10.0,8.0,0.0,0.0,1.0,0.0,0.0

In [48]:
liverpool_matches.head()

,Div,Date,Team,Opponent,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,2009-08-19,Liverpool,Stoke,4.0,0.0,H,2.0,0.0,H,...,13.0,3.0,10.0,9.0,11.0,5.0,0.0,1.0,0.0,0.0
1,E0,2009-08-24,Liverpool,Aston Villa,1.0,3.0,A,0.0,2.0,A,...,12.0,4.0,15.0,11.0,10.0,4.0,3.0,2.0,0.0,0.0
2,E0,2009-09-12,Liverpool,Burnley,4.0,0.0,H,2.0,0.0,H,...,16.0,3.0,8.0,10.0,7.0,5.0,0.0,2.0,0.0,0.0
3,E0,2009-09-26,Liverpool,Hull,6.0,1.0,H,2.0,1.0,H,...,14.0,3.0,10.0,3.0,13.0,2.0,1.0,4.0,0.0,0.0
4,E0,2009-10-25,Liverpool,Man United,2.0,0.0,H,0.0,0.0,D,...,6.0,5.0,20.0,11.0,5.0,1.0,2.0,3.0,1.0,1.0

In [49]:
leicester_matches.head()

,Div,Date,Team,Opponent,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,16/08/14,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,...,3.0,3.0,16.0,10.0,3.0,6.0,1.0,1.0,0.0,0.0
1,E0,31/08/14,Leicester,Arsenal,1.0,1.0,D,1.0,1.0,D,...,3.0,6.0,14.0,6.0,5.0,10.0,3.0,1.0,0.0,0.0
2,E0,21/09/14,Leicester,Man United,5.0,3.0,H,1.0,2.0,A,...,5.0,5.0,11.0,9.0,2.0,4.0,1.0,1.0,0.0,1.0
3,E0,04/10/14,Leicester,Burnley,2.0,2.0,D,2.0,1.0,H,...,6.0,4.0,16.0,12.0,9.0,3.0,2.0,2.0,0.0,0.0
4,E0,01/11/14,Leicester,West Brom,0.0,1.0,A,0.0,0.0,D,...,5.0,3.0,5.0,12.0,8.0,3.0,0.0,1.0,0.0,0.0

In [50]:
tottenham_matches.head()

,Div,Date,Team,Opponent,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,2009-08-16,Tottenham,Liverpool,2.0,1.0,H,1.0,0.0,H,...,11.0,3.0,14.0,16.0,6.0,5.0,3.0,3.0,0.0,0.0
1,E0,2009-08-29,Tottenham,Birmingham,2.0,1.0,H,0.0,0.0,D,...,14.0,6.0,12.0,10.0,7.0,3.0,2.0,2.0,0.0,0.0
2,E0,2009-09-12,Tottenham,Man United,1.0,3.0,A,1.0,2.0,A,...,7.0,13.0,16.0,13.0,3.0,9.0,3.0,2.0,0.0,1.0
3,E0,2009-09-26,Tottenham,Burnley,5.0,0.0,H,2.0,0.0,H,...,12.0,7.0,10.0,14.0,2.0,7.0,1.0,1.0,0.0,0.0
4,E0,2009-10-24,Tottenham,Stoke,0.0,1.0,A,0.0,0.0,D,...,12.0,2.0,8.0,18.0,7.0,1.0,0.0,3.0,0.0,0.0

In [51]:
man_city_matches.head()

,Div,Date,Team,Opponent,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,2009-08-22,Man City,Wolves,1.0,0.0,H,1.0,0.0,H,...,11.0,2.0,7.0,11.0,5.0,6.0,0.0,1.0,0.0,0.0
1,E0,2009-09-12,Man City,Arsenal,4.0,2.0,H,1.0,0.0,H,...,6.0,9.0,13.0,12.0,3.0,12.0,3.0,2.0,0.0,0.0
2,E0,2009-09-28,Man City,West Ham,3.0,1.0,H,2.0,1.0,H,...,12.0,8.0,18.0,14.0,11.0,5.0,1.0,1.0,0.0,0.0
3,E0,2009-10-25,Man City,Fulham,2.0,2.0,D,0.0,0.0,D,...,7.0,5.0,11.0,12.0,14.0,2.0,0.0,2.0,0.0,0.0
4,E0,2009-11-07,Man City,Burnley,3.0,3.0,D,1.0,2.0,A,...,8.0,4.0,10.0,11.0,8.0,3.0,1.0,3.0,0.0,0.0

In [52]:
man_united_matches.head()

,Div,Date,Team,Opponent,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,2009-08-16,Man United,Birmingham,1.0,0.0,H,1.0,0.0,H,...,17.0,4.0,13.0,7.0,13.0,2.0,1.0,1.0,0.0,0.0
1,E0,2009-08-29,Man United,Arsenal,2.0,1.0,H,0.0,1.0,A,...,4.0,3.0,21.0,15.0,6.0,5.0,3.0,6.0,0.0,0.0
2,E0,2009-09-20,Man United,Man City,4.0,3.0,H,1.0,1.0,D,...,11.0,6.0,15.0,14.0,11.0,1.0,2.0,2.0,0.0,0.0
3,E0,2009-10-03,Man United,Sunderland,2.0,2.0,D,0.0,1.0,A,...,9.0,3.0,11.0,15.0,14.0,1.0,2.0,3.0,0.0,1.0
4,E0,2009-10-17,Man United,Bolton,2.0,1.0,H,2.0,0.0,H,...,7.0,7.0,15.0,8.0,13.0,1.0,0.0,1.0,0.0,0.0

In [60]:
#combine all the teams 
combined_teams = pd.concat([arsenal_matches, chelsea_matches, liverpool_matches, leicester_matches, tottenham_matches, man_city_matches, man_united_matches])
combined_teams.head()

#writing the combined teams to a csv file
combined_teams.to_csv('./datas/All_teams.csv', index=False)

In [74]:

df['HTR'] = df['HTR'].replace({'H': 'W', 'A': 'L'})
df.head()

#writing the combined teams to a csv file
df.to_csv('./datas/All_teams.csv', index=False)